body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fc;
}

input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    flex-grow: 1;
}

button {
    padding: 5px 10px;
    background-color: rgb(88, 101, 242);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(71, 82, 196);
}
